<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @message.receiver_name %> 様</h1>
    <p><%= @message.content %></p>
    <p><%= @message.sender_name %></p>
  </body>
</html>